.button-link {
    text-decoration: none;
    display: inline-block;
}

#button-wrapper {
    background-color: #FFC221;
    border: none;
    color: black;
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 500;
    margin: 8px;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029 ;
}

#button-icon {
    height: 20px;
    width: 20px;
    margin: auto 4px auto auto;
}