#tools-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#options-wrapper {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

@media (min-width: 550px) {
    #tools-wrapper {
        flex-direction: row;
    }
    #options-wrapper {
        margin-bottom: 0px;
    }
}

.radio-icon {
    width: 18px;
    height: 18px;
    margin: 0px 4px;
}

#options-wrapper label,
#options-wrapper input {
    margin: 0px;
    display: flex;
    color: #001E4D;
}

#options-wrapper input {
    height: 18px;
    width: 18px;
}

#options-wrapper label {
    margin-right: 8px;
}

#search-wrapper {
    display: flex;
    flex: 1;
}