.icon-button {
    height: 35px;
    width: 35px;
    background-color: #001E4D;
    border: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 0px;
    margin-left: 8px;
}

.icon-img {
    height: 20px;
    width: 20px;
    margin: auto;
    display: flex;
}