#header-wrapper {
    background-color: #001E4D;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
}

#icon-back-navigation {
    height: 20px;
    margin: 12px;
}

#header-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 14px;
    text-align: center;
}